<p><%= label_tag 'Login:' %><br/>
<%= f.text_field :login %></p>

<p><%= label_tag 'E-mail:' %><br/>
<%= f.text_field :email %></p>

<p><%= label_tag 'Senha:' %><br/>
<%= f.password_field :password %></p>

<p><%= label_tag 'password_confirmation', 'Confirme a senha:' %><br/>
<%= f.password_field :password_confirmation %></p>
